[Unit]
Description=Murmur server
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a murmur-server
ExecStop=/usr/bin/docker stop -t 2 murmur-server

[Install]
WantedBy=local.target

